<nz-table #basicTable [nzData]="nzData" >
  <thead>
    <tr>
      <th *ngFor="let column of columns">{{column.name}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td *ngFor="let column of columns">
        <span *ngIf="column.field; else renderContent">{{data[column.field]}}</span>
        <!-- <ng-template #renderContent [ngTemplateOutlet]="data.template"></ng-template> -->
        <ng-template #renderContent>
          </ng-template>
          <ng-template *ngTemplateOutlet="nzCell; context: data"></ng-template>
      </td>
    </tr>
  </tbody>
</nz-table>
